<div id="container">
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='#/signout' ng-click='signout()' class='signout'>Signout</a></li>
    </ul>
  </div>
    <form>
      <input class='text' type='text' ng-model='url' name='url'>
      <input type='submit' ng-click='addLink(url); url=""' value='Shorten'>
      <img ng-show="loading && !notAvailable" src="/assets/spiffygif_46x46.gif">
    </form>
    <div ng-show="notAvailable">NOT A VAILD URL</div>
</div>
